<div class"three">
  <div class="sidebar">
    <h3 class="topic"><%= link_to "Search By Topic", root_path %></h3>
    <h3 class="topic">Search By Age</h3>
    <h3 class="topic">Info on PARENT<br/>
    EDUCATION<br/>
    and SUPPORT</h3>
    <h3 class="topic">HELP! I'm not sure</h3>
    <h3 class="topic"><%= link_to "HOME", root_path %></h3>
  </div>
</div>
