.circle {
  background-color: gray;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 20px;
  font-family: sans-serif;
  color: white;
  text-align: center;
  display: table;
}

.btn-text {
  display: table-cell;
  vertical-align: middle;
}

.container {
  display: inline-block;
}

.buttons-container {
  width: 80%;
  margin: auto;
}
