/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_trg
 */



.sidebar {
  padding-left: 45px;
  padding-right: 50px;
}

.header {
  margin: 20px;
  padding: 20px;
}

.header-container {
  margin: 20px;
  padding: 20px;
  border-bottom: 2px solid white;
  text-align: center;
}

.landing-logo {
  display: inline-block;
  float: left;
}

.welcome {
  display: inline-block;
}

.welcome h1 {
  font-family: helvetica;
  color: #E98A28;
}

.welcome h3 {
  color: white;
}
body {
  background-color: #300C34;
  color: white;
  font-family: helvetica;
}

h1 {
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 15px;
}

.topic a:link {color: white; text-decoration: none;}
.topic a:visited {color: white; text-decoration: none;}
.topic a:active {color: #F89C1C}

.heading {
  color: #F89C1C
}

.topics_list {
}

.circle {
   height: 100px;
   width: 100px;
   border-radius: 100%;
   margin: 20px 30px;
   font-family: helvetica;
   font-weight: bold;
   padding: 10px;
   color: white;
   text-align: center;
   display: table;
}
.orange {
     background-color: #F89C1C;
}

.grey {
  background-color: #949594
}

.btn-text {
   display: table-cell;
   vertical-align: middle;
}

.flex-container {
   display: inline-flex;
}

.buttons-container {
   text-align: center;
}

.show-buttons-container {
   text-align: left;
}

.new-user-form, .new-review-form, .new-topic-form, .new-resource-form, .new-support-form, .edit-support-form, .edit-help-form, .edit-story-form {
  width: 200px;
}

.session {
  margin-right: 20px;
  text-align: right;
}

.new_article, .new_resource, .new-story {
  width: 200px;
}

.button {
  margin: 5px 5px;
  background-color: white;
  color: #300C34;
  border: 0px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 5px;
}

.button:hover {
  color: #949594;
}

.button:active {
  background-color: #646664;
  border: 0px;
}

.italic {
  font-style: italic;
  font-weight: lighter;
}

input, textarea, select {
  border-radius: 3px;
  font-family: helvetica;
  color: #300C34;
}

.stories-container {
  width: 300px;
}
