<div class="topics_list two">
  <h1>TOPICS</h1>
  <% if current_user %>
  <%= button_to "add a topic", new_topic_path, method: "get" %>
    <% end %>
  <% @topics.each do |topic| %>
    <h3 class ="topic"><%=link_to topic.name.capitalize, topic_path(topic.id) %></h3>
    <% if current_user %>
      <div class="container">
        <%= button_to "edit", edit_topic_path(topic), method: "get", class: "button" %>
        <%= button_to "delete", topic_path(topic), method: "delete", class: "button",data: {confirm: "Are you sure? (this will also delete all associated articles, stories, and resources, and can not be undone)"} %>
      </div>
    <% end %>
  <% end %>
</div>
