<div class="topic">

<h3>Topic:</h3>
<%=@topic.name%>
<h3>Summary:</h3>
<%=@topic.summary%>

<div class="buttons-container">
  <div class="container">
    <div class="circle">
      <div class="btn-text">
        WHAT EXPERTS SAY
      </div>
    </div>
  </div>
  <div class="container">
    <div class="circle">
      <div class="btn-text">
        PARENT STORIES
      </div>
    </div>
  </div>
  <div class="container">
    <div class="circle">
      <div class="btn-text">
        LOCAL RESOURCES
      </div>
    </div>
  </div>
</div>
</div>
