<div class="topic two">
<h3 class="heading">AGE: <%=@topic.min_age%>-<%=@topic.max_age%> Months</h3>

<h1><%=@topic.name%></h1>

<h3 class="heading">DEFINITION:</h3>
<%=@topic.summary%>

<div class="buttons-container">
  <div class="container">
    <div class="circle">
      <div class="btn-text">
        WHAT EXPERTS SAY
      </div>
    </div>
  </div>
  <div class="container">
    <div class="circle">
      <div class="btn-text">
        PARENT STORIES
      </div>
    </div>
  </div>
  <div class="container">
    <div class="circle">
      <div class="btn-text">
        LOCAL RESOURCES
      </div>
    </div>
  </div>
</div>
</div>
